<div class="modal fade" id="selectRouteModal" tabindex="-1" aria-labelledby="selectRouteModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectRouteModalLabel">Choose Route</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="viewDiv"></div>
        <br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div *ngIf="originAddress && destAddress">
          <button class="btn btn-primary" (click)="addRouteToStorage()" data-bs-dismiss="modal">Choose route</button>
        </div>
      </div>
    </div>
  </div>
</div>



